*
{
	margin: 0;
	padding:0;
}

header
{
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(BGImage1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: centre;
	
}
.main-nav
{ 
	float:right;
	list-style: none;
	margin-top: 30px;
	
}

.main-nav li
{
	display: inline-block;
	
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto",sanserif;
	font-size: 15px;
}
.main-nav li.active a
{
border: 1px solid white;	
}

.main-nav li a:hover
{
	border:1px solid white;
}
.logo img
{
	width:100px;
	height:auto;
    float:left;
margin-left:0;
margin-top:10px;

	
}

body
{
	font-family: sanserif;
}
.row
{
	max-width:1200px;
	margin:auto;
	
}
.hero
{
	position:absolute;
	width:1200px;
	margin-left:0px;
	margin-top:40px;
}
h1
{
	color:white;
	text-transform:uppercase;
	font-size:70px;
	text-align:center;
	margin-top:190px;
}
.button
{
	margin-top:30px;
	margin-left:440px;
}
.btn
{
	border:1px solid white;
	padding: 10px 30px;
	color:white;
	text-decoration:none;
	margin-right:5px;
	font-size:13px;
	text-transform:uppercase;
}
.btn-one
{
	background-color:darkorange;
	font-family:"Roboto",sans-serif;
}
.btn-two
{
	font-family:"Roboto", sans-serif;
}
.btn-two:hover
{
	background-color:darkorange;
	transition: all 0.5s ease-in;
}